[server]
http_addr = 127.0.0.1
http_port = {{ grafana_port }}
domain = monitoring.meet-voice.fr
root_url = https://monitoring.meet-voice.fr/
hide_version = true

[database]
type = sqlite3
path = {{ grafana_data_dir }}/grafana.db

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
allow_embedding = true

[users]
allow_sign_up = false

[auth.anonymous]
enabled = false

[log]
mode = file
level = info

[paths]
data = {{ grafana_data_dir }}
logs = {{ grafana_logs_dir }}
