[Unit]
Description=Loki v{{ loki_version }}
Documentation=https://grafana.com/docs/loki/
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
User={{ loki_user }}
Group={{ loki_group }}
Type=simple
Restart=always
RestartSec=10s
TimeoutStartSec=30
WatchdogSec=60
ExecStart=/usr/local/bin/loki \
  --config.file={{ loki_config_dir }}/loki-config.yml

[Install]
WantedBy=multi-user.target
